<!--start carousel-->
<section id="myCarousel" class="carousel slide"  data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/assets/images/accueil1-mod.jpg" class="d-block" alt="Image 1">
        </div>
        <div class="carousel-item">
            <img src="/assets/images/accueil2-mod.jpg" class="d-block" alt="Image 2">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>

    <!--start title above the carousel-->
    <div id="test">
        <h1 id="shopName" class="text-center">CHOCO PAP</h1>
    </div>
    <!--End title above the carousel-->

</section>
<!--End carousel-->

<!--start shopLink-->
<div id="shopLink" >
    <a [routerLink]="['/shop']" class="text-center" >VOIR LA BOUTIQUE</a>
</div>
<!--End shopLink-->
